.loader {
    width: 40px;
    height: 26px;
    --c: no-repeat linear-gradient(#E1622D 0 0);
    background:
      var(--c) 0    100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size: 8px calc(100% - 4px);
    position: relative;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #E1622D;
    left: 0;
    top: 0;
    animation: 
      l3-1 1.5s  linear infinite alternate,
      l3-2 0.75s cubic-bezier(0, 200, .8, 200) infinite;
  }
  
  @keyframes l3-1 {
    100% { left: calc(100% - 8px); }
  }
  
  @keyframes l3-2 {
    100% { top: -0.1px; }
  }

  .gif-results {
    background-color: #F7F0EA;
    margin-top: 60px;
  }

  .results-number {
    margin-left: 87px;
  }

  .gif-results-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gif-item{
    width: 247px;
    margin: 0 60px;
  }

  .gif-results img {
    width: 247px;
    height: 247px;
    object-fit: cover;
    margin: 0;
    border-radius: 27px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .title-and-btn {
    display: flex;
    justify-content: space-between;
  }

  .gif-title {
    font-size: 16px;
  }

  .add-favorite-btn {
    width: 24px;
    height: 24px;
    border: none;
  }
  
  .no-results {
    color: black;
  }